<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <style>
        header{
            background-color: #fff;
            height: 60px;
            line-height: 60px;
            margin-bottom:10px;
        }
        footer{
            margin: 10px auto;
            margin-top: 10px;
            text-align: center;
            line-height: 30px;
            max-width: 920px;
        }
       

        .container{
            width: 960px;
            margin: 10px auto;
            background-color: #fff;
        
        }
        .container .articleList h2{
            line-height: 40px;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            font-weight: 500;
            padding-left:20px;

        }
        .container .articleList article{
            border-bottom: 1px solid #ddd;
            padding:20px;
        }
        .container .articleList article:hover{
            background-color: rgba(0, 0, 0, .01)
        }
        .container .articleList article h3{
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2;
            color: #2e3135;
        }
        .container .articleList article h3 a{
            color: #2e3135;
        }
        .datetime {
            font-size: 1rem;
            color: #8f969c;
            float: right;
        }
        .categroy{
            background-color: #56c4e1;
            display: inline-block;
            margin-right: 1.2rem;
            padding: .38rem 0;
            min-width: 4.5rem;
            text-align: center;
            line-height: 1;
            color: #fff;
            background-color: #c69f42;
            border-radius: 2px;
        }
    </style>
</head>
<body>
    <!-- <div class="bg"></div> -->
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>个人博客</h1>
            </div>
            <nav>
                <a class="current" href="./index.html">主页</a>
                <a href="#">分类</a>
                <a href="#">标签</a>
                <a href="#">课程</a>
                <a href="./about.html">关于</a>   
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="articleList">
            <h2>最新文章</h2>

            <% for(var  i=0;i<data.length; i++) {%>
                <article>
                    <a target="_blank" href="./blog/<%=data[i].filename%>.html">
                    <h3 class="title">
                        <object>
                                <a target="_blank" href="./blog/<%=data[i].filename%>.html"><%=data[i].title%></a>

                        </object>
                    </h3>
                    <p class="digest"><%=data[i].subsribe%></p>
                    <div> 分类: <span><%=data[i].categroy%></span> 关键字:<span><%=data[i].keywords%></span> <span class="datetime"><%=data[i].dateTime%></span></div>
                </a>
                </article>
            <%}%>
        </div>
    </div>
    <%- include('./footer.ejs')%>
</body>
</html>