<%- include('header.ejs',{pageName:'categories'})%>
    <div class=" col-right categories">
        <h2 class="h-pl1">分类</h2>
        <div class="c-timeline">
            <dl>
                <% for(var i = 0; i< categoryNameList.length; i++) {%>
                    <dt><%=categoryNameList[i]%> [<%=categoryDataList[i].length%>]</dt>
                    <% for(var j=0;j<categoryDataList[i].length;j++) {%>
                    <dd>
                        <span>[<%=(categoryDataList[i][j].filename.substr(0,10))%>] </span>
                        <a href="./blog/<%=categoryDataList[i][j].filename%>.html"><%=categoryDataList[i][j].title%></a>
                    </dd>
                    <%}%>
                <%}%>
            </dl>
        </div>
    </div>
</body>
</html>