<%- include('header.ejs',{pageName:'index'})%>
    <div class="col-right">
        <div class="articleList">
            <% for(var  i=0;i<data.length; i++) {%>
                <div class="c-article">
                    <h3 class="c-article_title">
                        <span class="c-article_datetime"><%=data[i].dateTime%></span>
                        <a target="_blank" href="./blog/<%=data[i].filename%>.html"><%=data[i].title%></a>
                    </h3>
                    <p class="c-article_digest"><%=data[i].subsribe%></p>
                    <p> 分类: <span><%=data[i].categroy%></span> 关键字:<span><%=data[i].keywords%></span> </p>
                    <p><a class="h-more" target="_blank" href="./blog/<%=data[i].filename%>.html">阅读>></a></p>
                </div>
            <%}%>
        </div>
        <%- include('./footer.ejs')%>
    </div>
</body>
</html>